html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, ol, ul, li,
form, label,
article, aside,
footer, header,
main, menu, nav, section {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

body {
  display: flex;
}

:root {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 15px 20px;
  width: 218px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  outline: none;
  border: none;
  margin-bottom: 50px;
  margin-top: 25px;
}

header {
  display: flex;
  flex-direction: column;
}
header .logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 15px 0 10px 0;
  z-index: 1;
}
header .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}
header .place {
  font-family: "Roboto";
  height: 50px;
  background-color: #EAEAEA;
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}
header .place i {
  margin-right: 15px;
  margin-left: 0px;
  font-size: 16px;
}
header .place .place-input {
  border: 0;
  background-color: #EAEAEA;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin-top: -1px;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: "Roboto";
}

.intro {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  font-family: "Roboto";
  text-align: center;
}
.intro h1 {
  font-size: 24px;
  font-weight: 700;
  min-width: 275px;
  margin: 30px auto 15px auto;
}
.intro h2 {
  font-size: 18px;
  font-weight: 300;
  min-width: 315px;
  margin: 0 auto;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  padding-top: 40px;
  padding-bottom: 30px;
}
.fonctionnement .cards {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.fonctionnement .cards .instructions {
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 0 20px;
  display: inline;
  padding: 20px 0;
  width: 322px;
  margin-bottom: 25px;
}
.fonctionnement .cards .instructions .number {
  width: 24px;
  height: 24px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 3px 8px;
  margin-left: -12px;
}
.fonctionnement .cards .instructions .fa-solid {
  color: #7E7E7E;
  font-size: 20px;
  position: relative;
  left: 6%;
}
.fonctionnement .cards .instructions .wording {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  left: 11%;
}

.restaurants {
  background-color: #F7F7F7;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
}
.restaurants .cards .restaurants {
  min-width: 346px;
}
.restaurants .cards .restaurants img {
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
