$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$place-background-color: #EAEAEA;
$menu-background-color: #F6F6F6;
$instruction-icon-color: #7E7E7E;
$instruction-background-color: #F7F7F7;
$footer-background: #353535;
$dish-category-underline-color: #99E2D0;
