@use '../abstracts/variables' as v;
@use '../base/animations';

.loading-window {
    position: fixed;
    display: block;
    min-width: 328px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(255, 255, 255, 0.8);
    overflow-x: auto;
    @include opacity;
    
}

.loader {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 10px solid ;
    color: v.$primary-color;
    border-radius: 50%;
    border-bottom-color: transparent;
    right: calc(50% - 50px);
    top: 40%;
    display: block;
    @include rotation;
} 
