@use '../abstracts/variables' as v;

@mixin rotation {
    animation: rotation 1s linear 0s 3 normal forwards;
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin opacity {
    animation: opacity 3s linear 0s 1 normal forwards;
    @keyframes opacity {
        0% {
            z-index: 1;
        }
        99% {
            z-index: 1;
            opacity: 1;
        }
        100% {
            z-index: -10;
            opacity: 0;
        }
    }
}

@mixin button-hover {
    animation: button-hover 0.3s linear 0s 1 forwards;
    @keyframes button-hover {
        0% {
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
        100% {
            background: linear-gradient(193.33deg, lighten(#9356DC, 4%) -11.44%, lighten(#FF79DA, 4%) 123.93%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
        }
    }
}

@mixin button-not-hover {
    animation: button-not-hover 0.3s ease-in 0s 1 forwards;
    @keyframes button-not-hover {
        0% {
            background: linear-gradient(193.33deg, lighten(#9356DC, 4%) -11.44%, lighten(#FF79DA, 4%) 123.93%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
        }
        100% {
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
    }
}

@mixin heart-filled {
    animation: heart-filled 0.3s linear 0s 1 forwards;
    @keyframes heart-filled {
        0% {
            font-weight: normal;     
        }
        100% {
            font-weight: bold;
        }
    }
}

@mixin heart-not-filled {
    animation: heart-not-filled 0.2s linear 0s 1 forwards;
    @keyframes heart-not-filled {
        0% {
            font-weight: bold;
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
        100% {
            font-weight: normal;      
        }
    }
}

@mixin show-menu-starter {
    animation: show-menu 3s linear 0s 1 forwards;
    @keyframes show-menu {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin show-menu-dishes {
    animation: show-menu-dishes 3s linear 0.75s 1 forwards;
    @keyframes show-menu-dishes {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin show-menu-desert {
    animation: show-menu-desert 3s linear 1.5s 1 forwards;
    @keyframes show-menu-desert {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin show-checkbox {
    animation: show-checkbox 0.25s ease-out 0s 1 forwards;
    @keyframes show-checkbox {
        0% {
            left: calc(100%);
        }
        100% {
            left: calc(100% - 60px);
        }
    }
}

@mixin hide-checkbox {
    animation: hide-checkbox 0.25s ease-in 0s 1 forwards;
    @keyframes hide-checkbox {
        0% {
            left: calc(100% - 60px);
        }
        100% {
            left: calc(100%);
        }
    }
}

@mixin move-price {
    animation: move-price 0.25s ease-out 0s 1 forwards;
    @keyframes move-price {
        0% {
            left: -20px;
        }
        100% {
            left: -70px;
        }
    }
}

@mixin move-back-price {
    animation: move-back-price 0.25s ease-in 0s 1 forwards;
    @keyframes move-back-price {
        0% {
            left: -70px;
        }
        100% {
            left: -20px;
        }
    }
}

@mixin reduce-dish-subtitle {
    animation: reduce-dish-subtitle 0.25s ease-out 0s 1 forwards;
    @keyframes reduce-dish-subtitle {
        0% {
            width: calc(100% - 50px);
        }
        100% {
            width: calc(100% - 100px);
        }
    }
}

@mixin reduce-back-dish-subtitle {
    animation: reduce-back-dish-subtitle 0.25s ease-in 0s 1 forwards;
    @keyframes reduce-back-dish-subtitle {
        0% {
            width: calc(100% - 100px);
        }
        100% {
            width: calc(100% - 50px);
        }
    }
}