html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, ol, ul, li,
form, label,
article, aside,
footer, header,
main, menu, nav, section
{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

body {
    display: flex;
}