@use '../abstracts/variables' as v;

header {
    .arrow {
        position: absolute;
        font-size: 16px;
        padding-left: 20px;
        a, a:visited, a:focus {
            text-decoration: none;
            color: black;
        }
    }
}

.restaurant-image {
    img {
    height: 275px;
    object-fit: cover;
    width: 100%;
    }
}

.menu {
    background-color: v.$instruction-background-color;
    border-radius: 40px 40px 0 0;
    margin-top: -43px;
    @media (min-width: 1023.99px) {
        width: 1055px;
        margin-left: auto;
        margin-right: auto;
      }
    .restaurant-name {
        display: flex;
        position: relative;
        margin: 30px 15px 0 15px;
        justify-content: center;
        .content {
            align-items: baseline;
            display: flex;
            h1 {
                font-size: 28px;
                font-weight: 400;
                margin-right: 40px;
            }
            .fa-heart {
                position: relative;
                font-size: 21px;
                width: 23px;
                padding-top: 8px;
                @include heart-not-filled;
                &:hover {
                  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                  background-clip: text;
                  -webkit-text-fill-color: transparent;
                  -moz-background-clip: text;
                  -moz-text-fill-color: transparent;
                  @include heart-filled;
                }
            }
        }
    }
    .menu-category {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        @media (min-width: 1023.99px) {
            width: 634px;
            margin-left: auto;
            margin-right: auto;
          }
        .menu-category-title {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 300;
            position: relative;
            display: inline-block;
            margin: 20px 0 5px 15px;
        }
        .menu-category-title::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 3px;
            bottom: -5px;
            background: v.$dish-category-underline-color;
        }
        .menu-item {
            font-family: 'Roboto';
            background-color: white;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 15px 10px 0 10px;
            padding-top: 10px;
            .dish-title {
                font-size: 18px;
                font-weight: 600;
                padding-left: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .dish-subtitle {
                font-size: 15px;
                font-weight: 300;
                padding-left: 15px;
                margin-top: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(100% - 55px);
            }
            .dish-price {
                font-size: 15px;
                font-weight: 700;
                position: relative;
                top: -17px;
                padding-left: calc(100% - 50px);
            }
        }
    }
}
.order-button {
    background: v.$instruction-background-color;    align-items: center;
    display: flex;
    padding-top: 20px;
    @media (min-width: 1023.99px) {
        width: 1055px;
        margin-left: auto;
        margin-right: auto;
      }
}